<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <%= render "shared/navbar_signed_in" %>

      <header class="text-center py-5 mb-4" style="background-color: #08455d;">
         <div class="container">
            <h1 class="font-weight-light text-white">Explore new groups</h1>
         </div>
      </header>

      <div class="container mb-4 pb-4">

         <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Sugested Groups</h1>

         <hr class="mt-2 mb-5">

         <div class="row text-center text-lg-left mb-4">
            <% @groups.each do |group| %>
               <div class="col-lg-3 col-md-4 col-6">
                  <a href="/groups/<%= group.id %>" class="d-block">
                     <%= image_tag(group.image_url.to_s, class:"w-100") %>
                     <div class="centered" style="position: absolute; bottom:0px; left: 30px;">
                        <h5><%= group.name %></h5>
                        <p>members:</p>
                     </div>
                  </a>
               </div>
            <% end %>
         </div>

      </div>

      <%= render "shared/footer" %>

   </body>
</html>
