<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      
      <%= render "shared/navbar_signed_in" %>

      <div class="container py-4">
         <div class="row">
            <div class="col-md-6 mx-auto">
               <% if current_user%>
                  <form action="/groups" method="post">

                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                     <h4>What's your new GroupUp Group's hometown?</h4>
                     <div class="form-group">
                        <input type="text" name="location[city]" placeholder="City" class="form-control" />
                     </div>

                     <div class="form-group">
                        <input type="text" name="location[state]" placeholder="State" class="form-control" />
                     </div>

                     <hr>

                     <h4>What will your new GroupUp be about?</h4>
                     <div class="form-group">
                        <select class="form-control" name="group[category]">
                           <option></option>
                           <% @categories.each do |category| %>
                              <option><%= category %></option>
                           <% end %>
                        </select>
                     </div>

                     <hr>

                     <h4>What will your GroupUp's name be?</h4>
                     <div class="form-group">
                        <input type="text" name="group[name]" placeholder="Name" class="form-control" />
                     </div>

                     <h4>Describe who should join, and what your GroupUp will do.</h4>
                     <div class="form-group">
                        <textarea name="group[description]" placeholder="Description" rows="8" cols="80" class="form-control"></textarea>
                     </div>

                     <button type="submit" class="btn btn-primary">Create</button>
                  </form>
               <% end %>
               <% if current_guest %>
                  <form action="" method="">
                     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                     <h4>What's your new GroupUp Group's hometown?</h4>
                     <div class="form-group">
                        <input type="text" name="location[city]" placeholder="City" class="form-control" />
                     </div>

                     <div class="form-group">
                        <input type="text" name="location[state]" placeholder="State" class="form-control" />
                     </div>

                     <hr>

                     <h4>What will your new GroupUp be about?</h4>
                     <div class="form-group">
                        <select class="form-control" name="group[category]">
                           <option></option>
                           <% @categories.each do |category| %>
                              <option><%= category %></option>
                           <% end %>
                        </select>
                     </div>

                     <hr>

                     <h4>What will your GroupUp's name be?</h4>
                     <div class="form-group">
                        <input type="text" name="group[name]" placeholder="Name" class="form-control" />
                     </div>

                     <h4>Describe who should join, and what your GroupUp will do.</h4>
                     <div class="form-group">
                        <textarea name="group[description]" placeholder="Description" rows="8" cols="80" class="form-control"></textarea>
                     </div>

                     <button class="btn btn-primary disabled">Create</button>
                  </form>
               <% end %>
            </div>
         </div>
      </div>

      <%= render "shared/footer" %>

   </body>
</html>
