<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <%= render "shared/navbar_signed_in" %>

      <div class="page-content-header">
         <div class="container pt-4 pb-3">
            <div class="row">
               <div class="col-md-12 mx-auto">
                  <div class="row">
                     <div class="col-md-7">
                        <%= image_tag(@group.image_url.to_s, class:"w-100") %>
                     </div>
                     <div class="col-md-5">
                        <div class="row">
                           <div class="col-md-12">
                              <h1> <%= @group.name.capitalize %> </h1>
                           </div>
                        </div>
                        <div class="row py-4">
                           <div class="col-md-12">
                              <p><%= @group.location.city %>, <%= @group.location.state %></p>
                              <p><%= @group.members.length %> members</p>
                              <p>Organized by: <%= @group.user.firstName.capitalize %> <%= @group.user.lastName.capitalize %></p>
                           </div>
                        </div>
                        <div class="row py-2">
                           <div class="col-md-12">
                              <% if current_user %>
                                 <% if (current_user.id != @group.user_id)%>
                                    <% if !(@group.users.include? current_user) %>
                                       <form action="/members/<%= @group.id %>/user" method="post">
                                          <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
                                          <button class='btn btn-primary rounded-lg btn-lg' type='submit'>Join this group</button>
                                       </form>
                                    <% elsif ((@group.users.include? current_user)==true) %>
                                       <form action='/members/<%= @group.id %>/user' method='post'>
                                          <input type='hidden' name='_method' value='delete'>
                                          <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
                                          <button class='btn btn-danger rounded-lg btn-lg'>Leave Group</button>
                                       </form>
                                    <% end %>
                                 <% end %>
                              <% end %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <hr>

      <div class="page-content-nav pb-3">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <ul class="nav nav-pills">
                     <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Members</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Photos</a>
                     </li>
                  </ul>
               </div>
               <div class="col-md-5">
                  <% if current_user %>
                     <% if (current_user.id == @group.user_id) %>

                        <a href="/events/new/<%= @group.id %>" class="btn btn-danger">Create Event</a>

                        <button type="button" class="btn btn-light border ml-2 dropdown-toggle" data-toggle="dropdown">Manage group</button>
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="/groups/<%= @group.id %>/edit">Edit group settings</a>
                           <a class="dropdown-item" href="" data-toggle="modal" data-target="#myModal">Delete group</a>
                        </div>


                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <!-- Modal Header -->
                                 <div class="modal-header">
                                    <h4 class="modal-title">Are you sure you want to delete this group?</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                 </div>

                                 <!-- Modal body -->
                                 <div class="modal-body">
                                    <a href="/groups/<%= @group.id %>" class="btn btn-primary" data-method="delete">Yes</a>
                                    <a href="" class="btn btn-primary" data-dismiss="modal">No</a>
                                 </div>

                                 <!-- Modal footer -->
                                 <div class="modal-footer">

                                 </div>

                              </div>
                           </div>
                        </div>
                     <% end %>
                  <% end %>

                  <% if current_guest %>
                     <a href="/events/new/<%= @group.id %>" class="btn btn-danger">Create Event</a>

                     <button type="button" class="btn btn-light border ml-2 dropdown-toggle" data-toggle="dropdown">Manage group</button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Edit group settings</a>
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#myModal">Delete group</a>
                     </div>
                  <% end %>

               </div>
            </div>
         </div>
      </div>

      <div class="page-content-body" style="background-color:#f6f7f8">
         <div class="container py-3">
            <div class="row">
               <div class="col-md-12 mx-auto">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="card mb-2">
                           <div class="card-body">
                              <h4 class="card-title">What we're about</h4>
                              <p class="card-text"> <%= @group.description %> </p>
                           </div>
                        </div>
                        <div class="card mb-2 px-2">
                           <div class="card-body">
                              <h4 class="card-title">Upcoming Events:</h4>
                              <% @events.each do |event|%>
                                 <div class="row border px-2 py-3 rounded-lg">
                                    <div class="col-md-6 pt-4">
                                       <a href="/events/<%= event.id %>">
                                          <h4><%= event.name.capitalize %></h4>
                                       </a>
                                    </div>
                                    <div class="col-md-6 text-center py-3">
                                       <div class="row">
                                          <div class="col-md-6 border mx-auto">
                                             <h1><%= event.date.strftime("%^b") %></h1>
                                             <h1><%= event.date.strftime("%d") %></h1>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              <% end %>
                           </div>
                        </div>
                        <div class="card mb-2">
                           <div class="card-body">
                              <h4 class="card-title">Discussions:</h4>
                              <form action="/discussions/<%= @group.id %>/user" method="post" class="pb-2">
                                 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                                 <div class="form-group">
                                    <label for="content">Content:</label>
                                    <textarea name="discussion[content]" rows="8" cols="80" class="form-control"></textarea>
                                 </div>

                                 <button type="submit" class="btn btn-primary">Create Discussion</button>
                              </form>
                              <div class="container py-3">
                                 <% if @discussions %>
                                    <% @discussions.each do |discussion| %>
                                       <div class="card rounded-lg shadow-sm p-4 mb-4 bg-white">
                                          <p><strong><%= discussion.user.firstName.capitalize %> <%= discussion.user.lastName.capitalize %>:</strong></p>
                                          <p><%= discussion.content %></p>
                                       </div>
                                    <% end %>
                                 <% end %>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="card mb-2">
                           <div class="card-body">
                              <h4 class="card-title">Organizer:</h4>
                              <a href=""><i class="fas fa-user-alt border rounded-circle p-2"></i> <%= @group.user.firstName.capitalize %> <%= @group.user.lastName.capitalize %></a>
                           </div>
                        </div>
                        <div class="card mb-2">
                           <div class="card-body">
                              <h4 class="card-title">Members:</h4>
                              <div class="row">
                                 <% @group.users.each do |user| %>
                                       <div class="col-sm-2">
                                          <a href="" class="border rounded-circle p-2"><i class="fas fa-user-alt"></i></a>
                                       </div>
                                 <% end %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <%= render "shared/footer" %>

   </body>
</html>
