<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <%= render "shared/navbar_signed_in" %>

      <div class="container">
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                  <div class="card-body">
                     <h5 class="card-title text-center">Edit</h5>

                     <form class="form-signin" action="/users/<%= current_user.id %>" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                        <input type="hidden" name="_method" value="patch">

                        <div class="form-label-group">
                           <input type="text" name="user[firstName]" id="firstName" class="form-control" placeholder="First Name" value="<%= current_user.firstName.capitalize %>" required autofocus>
                           <label for="firstName">First Name</label>
                        </div>

                        <div class="form-label-group">
                           <input type="text" name="user[lastName]" id="lastName" class="form-control" value="<%= current_user.lastName.capitalize %>" placeholder="Last Name" required>
                           <label for="lastName">Last Name</label>
                        </div>

                        <div class="form-label-group">
                           <input type="email" name="user[email]" id="email" class="form-control" value="<%= current_user.email %>" placeholder="Email" required>
                           <label for="email">Email</label>
                        </div>

                        <div class="form-label-group">
                           <input type="password" name="user[password]" id="password" class="form-control" value="<%= current_user.password %>" placeholder="Password" required>
                           <label for="password">Password</label>
                        </div>

                        <div class="form-label-group">
                           <input type="password" name="user[password_confirmation]" id="password_confirmation" class="form-control" value="<%= current_user.password %>" placeholder="Password Confirmation" required>
                           <label for="password_confirmation">Password Confirmation</label>
                        </div>

                        <div class="form-label-group">
                           <input type="text" name="location[city]" id="city" class="form-control" value="<%= current_user.location.city %>" placeholder="City" required>
                           <label for="city">City:</label>
                        </div>

                        <div class="form-label-group">
                           <input type="text" name="location[state]" id="state" class="form-control" value="<%= current_user.location.state %>" placeholder="State" required>
                           <label for="city">State:</label>
                        </div>

                        <div class="form-label-group">
                           <input type="file" name="user[image]" id="image" class="form-control" placeholder="Profile Picture" multiple>
                           <label for="image">Profile Picture:</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                           <input type="checkbox" class="custom-control-input" id="customCheck1">
                           <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                     </form>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <%= render "shared/footer" %>

   </body>
</html>
