<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

         <a class="navbar-brand" href="#">Group Up</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/users">
                     Home <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/groups">Explore</a>
               </li>
               <li class="nav-item border-right">
                  <a class="nav-link" href="/groups/new">Start a new Group</a>
               </li>
               <% if current_guest %>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_guest.firstName.capitalize %> <%= current_guest.lastName.capitalize %> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Edit profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
               <% if current_user %>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.firstName.capitalize %> <%= current_user.lastName.capitalize %> <i class="fas fa-user-circle"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/<%= current_user.id %>/edit">Edit profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/sessions/logout" data-method="delete">Logout</a>
                     </div>
                  </li>
               <% end %>
            </ul>
         </div>

      </nav>

      <header class="text-center py-5 mb-4" style="background-color: #08455d;">
         <div class="container">
            <h1 class="font-weight-light text-white">Find your next event</h1>
         </div>
      </header>

      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1>Your Groups:</h1>
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-1"></div>
            <div class="col-md-10">
               <div class="row">
                  <% if @groups && current_user %>
                     <% @groups.each do |group| %>
                        <div class="col-md-4">
                           <div class="card">
                              <a href="/groups/<%= group.id %>">
                                 <img class="card-img-top" src="http://placehold.it/700x400" alt="Card image">
                                 <div class="card-img-overlay">
                                    <h4 class="card-title"><%= group.name.capitalize %></h4>
                                    <p class="card-text"><%= group.category.capitalize %></p>
                                 </div>
                              </a>
                           </div>
                        </div>
                     <% end %>
                  <% end %>
               </div>
            </div>
            <div class="col-1"></div>
         </div>
      </div>

      <hr>

      <div class="container py-4">
         <div class="row">
            <div class="col-md-12">
               <h1>Suggested Groups:</h1>
            </div>
         </div>
         <div class="row">
            <% if  @all_groups %>
               <% @all_groups.each do |group| %>
                  <div class="col-md-4">
                     <div class="card">
                        <a href="/groups/<%= group.id %>">
                           <img class="card-img-top" src="http://placehold.it/700x400" alt="Card image">
                           <div class="card-img-overlay">
                              <h4 class="card-title"><%= group.name.capitalize %></h4>
                              <p class="card-text"><%= group.category.capitalize %></p>
                           </div>
                        </a>
                     </div>
                  </div>
               <% end %>
            <% end %>
         </div>
      </div>


      <footer class="py-4 bg-dark">
         <div class="container">
            <div class="row pb-4">
               <div class="col-md-3 mx-auto">
                  <h3>Your Account</h3>
                  <p><a href="" class="text-white">Sign up</a></p>
                  <p><a href="" class="text-white">Log in</a></p>
                  <p><a href="" class="text-white">Guest</a></p>
               </div>
               <div class="col-md-3 mx-auto">
                  <h3>Discover</h3>
                  <p><a href="" class="text-white">Groups</a></p>
                  <p><a href="" class="text-white">Calender</a></p>
                  <p><a href="" class="text-white">Cities</a></p>
               </div>
               <div class="col-md-3 mx-auto">
                  <h3 class="pb-2">Follow us</h3>
                  <a href="#"><i class="fab fa-facebook-square text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-twitter text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-youtube text-white fa-2x px-2"></i></a>
                  <a href="#"><i class="fab fa-instagram text-white fa-2x px-2"></i></a>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 border-top pt-4">
                  <p class="m-0 text-center text-white">Copyright &copy; GroupUp 2019</p>
               </div>
            </div>
         </div>
      </footer>

   </body>
</html>
