<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>

      <%= render "shared/navbar_signed_in" %>

      <header class="text-center py-5 mb-4" style="background-color: #08455d;">
         <div class="container">
            <h1 class="font-weight-light text-white">Find your next event</h1>
         </div>
      </header>


      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1>Your Groups:</h1>
            </div>
         </div>
         <br>
         <div class="row">
            <% if @groups && current_user %>
               <% @groups.each do |group| %>
                  <div class="col-md-4">
                     <div class="card">
                        <a href="/groups/<%= group.id %>">
                           <%= image_tag(group.image_url.to_s, class:"w-100") %>
                           <div class="card-img-overlay">
                              <h4 class="card-title"><%= group.name.capitalize %></h4>
                              <p class="card-text"><%= group.category.capitalize %></p>
                           </div>
                        </a>
                     </div>
                  </div>
               <% end %>
            <% end %>
         </div>
      </div>

      <hr>

      <div class="container py-4">
         <div class="row">
            <div class="col-md-12">
               <h1>Suggested Groups:</h1>
            </div>
         </div>
         <div class="row">
            <% if  @all_groups %>
               <% @all_groups.each do |group| %>
                  <div class="col-md-4">
                     <div class="card">
                        <a href="/groups/<%= group.id %>">
                           <%= image_tag(group.image_url.to_s, class:"w-100") %>
                           <div class="card-img-overlay">
                              <h4 class="card-title"><%= group.name.capitalize %></h4>
                              <p class="card-text"><%= group.category.capitalize %></p>
                           </div>
                        </a>
                     </div>
                  </div>
               <% end %>
            <% end %>
         </div>
      </div>


      <%= render "shared/footer" %>


   </body>
</html>
